<h1>Projects</h1>
<br/>
<strong><p>Auto Documentor </p></strong>
<ul>
  <li>
    Developing an ML based solution for auto detecting question-answer pairs in a user’s emails for the purpose of documentation. Once discovered, the result set is displayed to the user and if approved, the content will be added to a wiki.
  </li>
  <li>
   	A multi layered ANN was used to classify sentences as questions. Model trained on SQUAD 2.0 and NPS chat dataset.
  </li>
  <li>
    The system then converts each sentence to a vector using Facebook’s Infersent implementation and then uses cosine similarity and sentence structure semantics to identify candidate sentences as answers.
  </li>
</ul>

<strong><p>Google File System </p></strong>
<ul>
  <li>
    Developing a micro implementation of the google file system to better understand the architecture complexity of GFS
  </li>
  <li>
    The system has a GFS master, multiple GFS chunk servers and clients to stream large sized files over a network that is assumed to be prone to network failures, disk failures and packet losses.
  </li>
  <li>
    The model respects GFS’s NFP of scalability, reliability, performance and availability.
  </li>
</ul>

<strong><p> Captcha Defeater </p></strong>
<ul>
  <li>
    A multilayer deep neural network was used to classify images as numbers. Model was trained on USPS handwritten digits dataset. The dataset has 14 features which were further reduced, and the data was divided 10-fold to train the model.
  </li>
  <li>
    The trained model was then used to predict which image corresponds to which number and was used to defeat a basic CAPTCHA system that is often used to differentiate between humans and bots
  </li>
</ul>




