<h1>Projects</h1>

<strong><p>An Optimal Control Strategy for Earth-Moon Low-Thrust Spacecraft Trajectory Design, Electrical Engineering Department, Purdue University, West Lafayette, IN </p></strong>
<ul>
  <li>
    An open loop Guidance used pre-optimized control history to propagate both attitude dynamics and translational dynamics with given Guidance command and Controller.
  </li>
  <li>
    There were 3 major parts to the project:
    <ul>
      <li>Optimization: Minimize the propellant consumption of CubeSat, i.e. maximizing the mass.</li>
      <li>Guidance: Read table of optimized unit thrust vector and generate quaternion error to be passed in controller for proper vehicle attitude.</li>
      <li>Control: Take quaternion and angular velocity errors and drive them to zero ensuring system stability.</li>
    </ul>

  </li>
</ul>

<strong><p>LiDAR Video Integration, Graduate Project, The Autonomous Systems Lab, Purdue University</p></strong>
<ul>
  <li>
    Developed an algorithm that superimposes the LiDAR video onto the camera video for traffic monitoring.
  </li>
</ul>

<strong><p>System Identification of a Quadcopter, Graduate Project, The Autonomous Systems Lab, Purdue University</p></strong>
<ul>
  <li>
    Established the mathematical model and identified various parameters and states that affect input-output relations in a quadcopter.
  </li>
</ul>

<strong><p>Coordinated Control and Command of Unmanned Underwater Vehicles, Senior Design Project, University of Connecticut, Storrs, CT </p></strong>
<ul>
  <li>
    Built a fleet of Unmanned Underwater Vehicles that can communicate with each other and localize in real time.
  </li>
  <li>
    Developed leader-follower algorithm and validated in Player/Stage before pool and lake testing.
  </li>
  <li>
    Existing GUI was enhanced to send commands to the UUVs to perform movement and localization processes.
  </li>
</ul>

<strong><p>Laser Tag System, Microprocessor Application Lab, University of Connecticut, Storrs, CT </p></strong>
<ul>
  <li>
    Created a laser tag system using various hardware and software components such as ADC and timer.
  </li>
</ul>


<strong><p>Sound Transmission using a Laser Pointer, University of Connecticut, Storrs, CT </p></strong>
<ul>
  <li>
    Designed a circuit to transmit sound using a laser pointer to a minimum distance of 30 feet where the transmitter circuit was built using a voltage regulator and the receiver circuit was a PIN diode.
  </li>
</ul>



