<h1>Experience</h1>
<br/>
<div>
<h5>Software Engineer/Freelancer- Growthfountain.com</h5>
</div>
<div>
<h6>Stock Quotes Scrapping Algorithm, Trade Analyzer</h6>
</div>
<ul>
  <li>
    Developed a stock price quotation micro-service that fetched prices from a broker API. Used C# to implement the web API.
  </li>
  <li>
   	Fed the prices to the project’s trading engine via message bus. Later switched over to use Azure bus for the project.
  </li>
</ul>

<div>
<h5> Software Engineer/Freelancer – NetGen Technology</h5>
</div>
<div>
<h6>Weather Application</h6>
</div>
<ul>
  <li> 
    Built a weather application using Google location API and Dark Sky API to find location information and provide localized weather updates. An observer-subscriber push notification pattern was used to distribute data from sensors to clients.
  </li>
</ul>
<div>
<h5>Internship – India Meteorological Department</h5>
</div>
<div>
<h6>Throughput, Reliability and Availability Reporting of a highly-distributed network</h6>
</div>
<ul>
  <li>
    Created a runner process that executed every 20 minutes and performed a full network inspection by evaluating all the cluster nodes and network connected hubs for availability. The data was used to power globally accessible live reports.
  </li>
</ul>

<div>
<h5> Volunteer – Pratham Education Organization</h5>
</div>
<div>
<h6>Accessible Social Networks</h6>
</div>
<ul>
  <li>
    Analyzed and tested major social network sites such as Facebook and Twitter for accessibility with both automated tools like 508checker
    and the AATT (automated accessibility testing tool) which can crawl unauthenticated public web pages, and with visually impaired user groups from the NGO.
  </li>
</ul>
