<h1>Experience</h1>
<strong><p>Design and Analysis Engineer II, 777X Proximity Sensing System, The Boeing Company, Everett, WA</p></strong>

<ul>
  <li> Designed and developed test procedures to support Proven Function Operability Development (PFOD) milestone.</li>
  <li>
    Automated test scripts execution. The automation effort increased efficiency and allowed the team to complete testing in 5
    days as opposed to a 4 weeks+ manual process. Received recognition from senior management for reducing test costs.
  </li>
  <li>
    Evangelized the adoption of distributed source control system and moved all existing SVN code to GIT repositories. Helped
    various teams adopt an agile development model. The shift in development paradigm helped the team in producing results
    faster by adopting shorter but regular and timely development cycles.
  </li>
  <li> Developed tests to validate design specification against customer and Federal Aviation Administration (FAA) requirements.</li>
  <li>
    Identified multiple design nonconformance during the verification process using black box testing techniques. Generated
    Problem Reports for the supplier to address.
  </li>
  <li>
    Interfaced with airline customers playing the role of a supplier to understand their needs and helped convert those into
    requirements. In turn provided requirements and deadlines to Boeing suppliers playing the role of a customer.
  </li>
  <li>
    Sifted through a high volumes of Problem Report data and established an automated tooling to bring forward all supplier
    blocking issues that prevented engineering teams from making progress and gave visibility to the management.
  </li>
</ul>
<strong><p>Design and Analysis Engineer II, 777 Freighter Eco-Demonstrator Project, The Boeing Company, Everett, WA</p></strong>
<ul>
  <li>
    Performed successful planning, design requirements and development of a new technology airplane engine generator aimed
    to improve fuel economy, noise reduction and ecological footprints of airlines.
  </li>
</ul>

<strong><p>Stock Quotes Scrapping Algorithm, Trade Analyzer, Independent</p></strong>
<ul>
  <li>
    Developed a stock price quotation micro-service that fetched prices from a broker API. Used C# to implement the web API.
  </li>
  <li>
    Fed the prices to the project’s trading engine via message bus. Currently switching over to use Azure bus for the project.
  </li>
</ul>

<strong><p>Intern, UTC Aerospace Systems (UTAS), Rockford, IL </p></strong>
<ul>
  <li>
    Performed Relentless Root Cause Analysis on a discrete output driver circuit failure.
  </li>
  <li>
    Executed the Signal Integrity Test on Microcontroller circuit board and documented results.
  </li>
</ul>

<strong><p>Graduate Teaching Assistant, Systems Simulation and Control Laboratory, Electrical and Computer Engineering Department, Purdue University, West Lafayette, IN </p></strong>
<ul>
  <li>
    Instructed laboratory coursework related to MATLAB and Simulink for juniors and seniors.
  </li>
  <li>
    Developed student insight into the mathematical modeling of devices and systems and build understanding of the basic
    principles involved in the design of closed loop systems to meet standard specifications.
  </li>
</ul>

<strong><p>Intern, Eastman Chemical Company, Springfield, MA </p></strong>
<ul>
  <li>
    Assisted in programming of CTI PLCs (Programmable Logic Controllers) in Waste Water Plant.
  </li>
  <li>
    Worked on replacing old FOXBORO controllers with CTI Programmable Logic Controllers(PLCs).
  </li>
  <li>
    Used Tisoft’s ladder logic, special functions and PID loops to program the PLCs.
  </li>
  <li>
    Prepared the Input/Output list from loop drawings, P&IDs and wiring diagrams.
  </li>
</ul>

