<h1>Honors and Awards</h1>
<br/>
<ul>
  <li>
    Recipient of the Prestigious Gold Key Award for outstanding academic accomplishment from Johnson & Wales University.
    Recipient of the Student Leader Award for the role of student leader of the International Community Organisation at Johnson & Wales University.
  </li>
  <li>
    Member: Actively participated in Association for Computing Machinery(ACM) bothell GreyHats and WISe - Women in Engineering at University of Washington.
    Member: Alpha Beta Kappa National Honor Society at Johnson & Wales University.
  </li>
</ul>
