<h1>Hello, I am Apoorva!</h1>
<div class="wrapper">
  <div class="img">
    <img src="./download.png" style="border-style: solid; border-width: 2px;" />
  </div>
  <div class="content">
    <p>
      Welcome to my resume.
      <br />
      <br />
      I am a Computer Science and Software Engineering graduate student at University of Washington. I have a keen interest in ML technologies and in my spare time, I love to hack and work on fun web projects.You can find some of the projects that i have worked on listed here on my web page.
      I am currently exploring Microsoft's dotnet framework and Azure cloud services as I am deploying my old projects onto the cloud.
      <br />
      Apart coding and hacking on web apps, I enjoy cooking and reading. 
    </p>
    <br />
    <h4>General information</h4>
    <ul>
      <li><strong>Address</strong>: 18120 102nd Ave NE, Apt 523, Bothell, WA, 98011 </li>
      <li><strong>Contact Number</strong>: (504)325-9321</li>
      <li><strong>Email</strong>: bhatnagar.apoorva12@gmail.com</li>
      <li><strong>Eligible for employment in United States</strong>: Yes </li>
      <!--Add a description about yourself here-->
    </ul>
    <br />
    <br />

    <h4>Education</h4>
    <ul>
      <li><strong>Master of Science, University of Washington-Bothell,WA </strong>: in Computer Science and Software Engineering, <strong>GPA 3.80/4.0,</strong><strong>Expected Graduation Date: May2021</strong> .</li>
      <li><strong>Bachelor of Science, Guru Gobind Singh Indraprastha University, New Delhi</strong>: in Computer Science and Applications, <strong>GPA 3.80/4.0,</strong><strong>Completed.</strong> .</li>
    </ul>
  </div>
</div>
