<div class="wrapper">
  <h1>Hello, I am Apoorva!</h1>
  <div class="img">
    <img src="./download.png" style="border-style: solid; border-width: 2px;" />
  </div>
  <div class="content">
    <p>
      Welcome to my resume.

      I am a Computer Science and Software Engineering graduate student at University of Washington. I have a keen interest in ML technologies and in my spare time, I love to hack and work on fun web projects. You can find some of the projects that I have worked on listed here on my web page.
      I am currently exploring Microsoft's dotnet core framework and Azure cloud services as I am deploying my old projects onto the cloud.
      <br />
      <br />
      Apart coding and hacking on web apps, I enjoy cooking and reading.
    </p>
    <br />
    <h4>General information</h4>
    <ul>
      <li><strong>Address</strong>: 18120 102nd Ave NE, Apt 523, Bothell, WA, 98011 </li>
      <li><strong>Contact Number</strong>: (504)325-9321</li>
      <li><strong>Email</strong>: bhatnagar.apoorva12@gmail.com</li>
      <li><strong>Github Profile</strong>: <a href="https://github.com/apoorvab93">https://github.com/apoorvab93</a> </li>
      <li><strong>Linkedin Profile</strong>: <a href="https://www.linkedin.com/in/apoorva-bhatnagar/">https://www.linkedin.com/in/apoorva-bhatnagar/</a> </li>
    </ul>
    <br />
    <br />

    <h4>Education</h4>
    <ul>
      <li><strong>Master of Science, University of Washington-Bothell,WA </strong><br />Computer Science and Software Engineering<br /><strong>GPA 3.80/4.0</strong><br />Expected Graduation Date: May 2021 </li>
      <li><strong>Bachelor of Science, GGSIP University, New Delhi</strong><br />Computer Science<br /><strong>GPA 3.80/4.0</strong></li>
    </ul>
  </div>
</div>
