<h1>My Skills</h1>
<ul>
  <li><strong>Programming Language</strong>: Java, C#, Python, ASP net core 2.0</li>
  <li><strong>Web development</strong>: JavaScript, TypeScript, Node.js, Micro-services, HTML5, CSS, AngularJS, Tableau</li>
  <li><strong>Databases</strong>: MySQL, No SQL databases – MongoDB,CosmosDB </li>
  <li><strong>Frameworks</strong>: Dot Net Core framework for C#</li>
  <li><strong>ML Technologies</strong>: Supervised (Naïve Bayes, Decision Trees, NLP, Neural Net, BERT), Unsupervised (K-means clustering)</li>
  <li><strong>Design and architecture</strong>: Restful APIs, MVC web apps, Service Oriented Architecture, Single Responsibility principle, agile dev </li>
  <!--Add a description about yourself here-->
</ul>
