<h1>My Skills</h1>
<ul>
  <li><strong>Programming Language</strong>: Proficient – Java J2EE 1.8, C# 7, .Net core framework, ASP net core 2.0</li>
  <li><strong>Web development</strong>:  HTML5, CSS, AngularJS, Tableau</li>
  <li><strong>Databases</strong>: MySQL, No SQL databases – MongoDB</li>
  <li><strong>Design and architecture</strong>: Restful APIs, MVC web apps, Service Oriented Architecture, Single Responsibility principle, agile dev </li>
  <!--Add a description about yourself here-->
</ul>
